@page "/property/{Id}"
@page "/property/{Id}/{Tab}"
@using PropManagerSite.Pages.Property.Edit.Details
@using PropManagerSite.Pages.Property.Edit.Loan
@using PropManagerSite.Pages.Property.Edit.Expense
@inherits PropertyViewBase

<div class="flex flex-row ">
    <div class="font-bold ">Property: </div>

    @if (this.PropertyDetails != null)
    {
        <div class="ml-2">@PropertyDetails.Name</div>

    }
</div>
@if (@IsBusy)
{
    <SfProgressBar Type="ProgressType.Circular" Value="20" Height="60" IsIndeterminate="true" Minimum="0" Maximum="100">
        <ProgressBarAnimation Enable="true"></ProgressBarAnimation>
    </SfProgressBar>
}
else
{
    <div class="border-2 rounded p-5">
        <SfTab @bind-SelectedItem="SelectedTab">
            <TabItems>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Details">

                        </TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <DetailsView OnPropertySaved="PropertySaved" PropertyDetails="@PropertyDetails"> </DetailsView>
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Loans">

                        </TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <Loans PropertyDetails="@PropertyDetails" OnLoanDeleted="LoanProperty"></Loans>
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Expenses">
                           
                        </TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <Expenses PropertyDetails="@PropertyDetails" OnExpenseDeleted="LoanProperty"></Expenses>
                    </ContentTemplate>
                </TabItem>
            </TabItems>
        </SfTab>
    </div>
}