@inherits ExpensesBase

@if (@IsBusy)
{
    <SfProgressBar Type="ProgressType.Circular" Value="20" Height="60" IsIndeterminate="true" Minimum="0" Maximum="100">
        <ProgressBarAnimation Enable="true"></ProgressBarAnimation>
    </SfProgressBar>
}
else
{

    @if (PropertyDetails != null && PropertyDetails.Expenses != null && PropertyDetails.Expenses.Count > 0)
    {



        <div class="flex flex-row justify-between mt-2">
            <div class="font-bold">Loans</div>
            <SfButton @onclick="()=> NewExpense()" CssClass="e-info"> Add</SfButton>
        </div>

        <SfGrid class="mt-2" DataSource="@PropertyDetails.Expenses">
            <GridColumns>
                <GridColumn Field=@nameof(IEditProperty_EditProperty_Property_Expenses_Expense.Id) HeaderText=" ID" IsPrimaryKey="true" Visible=false></GridColumn>
                <GridColumn Field=@nameof(IEditProperty_EditProperty_Property_Expenses_Expense.Title) HeaderText="Title"></GridColumn>
                <GridColumn Field=@nameof(IEditProperty_EditProperty_Property_Expenses_Expense.Description) HeaderText="Description"></GridColumn>
                <GridColumn Field=@nameof(IEditProperty_EditProperty_Property_Expenses_Expense.Price) HeaderText="Price" Format="C2"></GridColumn>
                <GridColumn Field=@nameof(IEditProperty_EditProperty_Property_Expenses_Expense.TotalDeductable) HeaderText="Total Deductable %"   ></GridColumn>
                <GridColumn Field=@nameof(IEditProperty_EditProperty_Property_Expenses_Expense.ExpenseDate) HeaderText="Expense Date" Format="dd/MM/yyyy"></GridColumn>

                <GridColumn HeaderText="Manage Records" Width="150">
                    <Template>
                        @{
                            var value = (context as IEditProperty_EditProperty_Property_Expenses_Expense);
                            <SfButton @onclick="()=> EditExpense(value!)" CssClass="e-outline">Edit</SfButton>
                            <SfButton @onclick="()=> DeleteExpense(value!)" CssClass="e-outline">Delete</SfButton>
                        }
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    }
    else
    {
        <div class="flex rounded  bg-slate-200 py-9 justify-center">
            <SfButton CssClass="e-info" @onclick="()=> NewExpense()"> Add New Expense</SfButton>
        </div>
    }
}
